<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="row" th:fragment="bookTable">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4>Books</h4>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead class="bg-warning">
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Year Published</th>
                        <th>Description</th>
                        <th>Category Name</th>
                        <th>Author Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="book : ${books}">
                        <td th:text="${book.id}"></td>
                        <td th:text="${book.title}"></td>
                        <td th:text="${book.price}"></td>
                        <td th:text="${book.yearPublished}"></td>
                        <td th:text="${book.description}"></td>
                        <td th:text="${book.category.categoryName}"></td>
                        <td th:text="${book.author.authorName}"></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>