<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="row" th:fragment="bookDetail">
    <div class="col-md-4 p-5">
        <img alt="Image" class="img-fluid" height="300" th:src="${book.imgUrl}" width="400">
    </div>
    <div class="col-md-5 p-7">
        <h1>Book Details</h1>
        <h3 th:text="${book.title}"></h3>
        <p class="lead" th:text="${book.yearPublished} + 'in Published.'"></p>
        <p class="lead" th:text="${book.description}"></p>
        <p class="lead" th:text="'Written By-' + ${book.author.authorName}"></p>
        <p class="lead" th:text="'It costs =' + ${book.price} + '$.'"></p>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, accusantium.</p>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis delectus dolores eaque esse,
            eveniet facilis id magnam molestias nihil nulla officia porro quae, quidem quod, similique sit vero. Quo,
            voluptatem.</p>
    </div>

    <div>
        <a class="btn btn-primary btn-lg mr-3" th:href="@{'/cart/add?id=' + ${book.id}}">Add to Cart</a>
        <a class="btn btn-info btn-lg mr-3" th:href="@{/show-all-books}">Continue Shopping</a>
        <a class="btn btn-warning btn-lg" th:href="@{/cart/view}">View Cart</a>
    </div>
</div>
</body>
</html>