<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="d-flex justify-content-center align-items-center" id="head-section" th:fragment="haedSection">
    <div class="container text-center text-white" id="header">
        <h3 class="display-4 mb-0">Chase Your Dream</h3>
        <h1 class="display-1">Creative and Teach Training</h1>
        <p class="d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <button class="btn btn-lg btn-info">Learn More</button>
    </div>
</div>
</body>
</html>