<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark text-primary" th:fragment="navigation">
    <div class="container">
        <a class="navbar-brand" href="#" th:href="@{/}">Book Store</a>
        <button class="navbar-toggler" data-target="#myNav" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="" th:href="@{/list-category}">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" th:href="@{/list-author}">Author</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" th:href="@{/list-books}">Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Contact us</a>
                </li>


            </ul>


        </div>
    </div>

</nav>

</body>
</html>