<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="jumbotron jumbotron-fluid text-center" id="photo" th:fragment="shopViewHead">
    <div class="container">
        <h3>Amazing Book Store</h3>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad aliquid aut consequatur
            delectus dolorem, expedita fuga impedit in iusto mollitia optio porro provident quae, quibusdam quidem
            repudiandae, tempora tempore?</p>
        <a class="btn btn-info btn-lg" href="#">Register</a>
    </div>
    <style>
        #photo {
            background: url("https://upload.wikimedia.org/wikipedia/commons/b/b6/Gutenberg_Bible%2C_Lenox_Copy%2C_New_York_Public_Library%2C_2009._Pic_01.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</div>

</body>
</html>